appservice/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
appservice/public/storage
appservice/public/hot

# Laravel 5 & Lumen specific with changed public path
appservice/public_html/storage
appservice/public_html/hot

storage/*.key
appservice/.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
